
body {
  
    background-image: url('/static/imagen/bg_pag/algodon.jpg');
    background-size: cover;
    background-position: center;
}

form {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px
}

h1 {
    
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    font-size: 38px;
    color: #ffffff; 
    text-shadow: 4px 4px 6px rgba(32, 14, 1, 0.3);
}

h2 {
    margin-left: 20px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, sans-serif;
     
}

label {
    display: block;
    margin-bottom: 5px;
    color: #442503; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #663300; 
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #228B22; 
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


#nombre,
#email,
#ciudad,
#edad,
#mensaje {
    background-color: #fff; 
}


button[type="submit"]:hover {
    background-color: #006400; 
}
