.icono-navbar {
  max-height: 25px;
}


/* Estilos para el footer */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}
.finali {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}