body{
    background-color: #555;
    font-family: 'Signika', sans-serif;
  }


  header {
    width: 120%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  section {
    background-color: #fff;
    padding: 50px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  .text-overlay {
    position: absolute;
    top: 40%;
    left: 20px; /* Ajusta el valor para controlar la posición horizontal del texto */
    transform: translateY(-50%);
    color: #fff;
    font-size: 36px; /* Ajusta el tamaño del texto según tus preferencias */

  }
  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .-overlay {
    position: absolute;
    top: 40%;
    left: 20px; /* Ajusta el valor para controlar la posición horizontal del texto */
    transform: translateY(-50%);
    color: #fff;
    font-size: 36px; /* Ajusta el tamaño del texto según tus preferencias */

  }
  .img-overlay {
    position: absolute;
    top: 40%;
    left: 180%; /* Ajusta el valor para controlar la posición horizontal del texto */
    transform: translateY(-50%);
    color: #fff;
    font-size: 56px; /* Ajusta el tamaño del texto según tus preferencias */
  }

