{% extends 'base.html' %}

{% load static %}

{% block contenido %}
  <head>
    <link rel="stylesheet" href="/static/css/articulos_css/style_detalles_p_n.css">
  </head>

  <div class="page-container">
    <div class="post-container">
      <div class="titulo-articulo">
      <h1>{{ articulo.titulo }}</h1>
      <p></p></div>
      {% if articulo.imagen %}
      <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" class="post-image">
      {% endif %}
      <div class="post-meta"><span class="date">Categoria: {{ articulo.categoria }}</span> 
        <span class="mx-1">&bullet; Autor: </span> <span>{{ articulo.autor }}</span>
        <span class="mx-1">&bullet; Fecha de publicacion: </span> <span>{{ articulo.fecha_publicacion | date:"d-m-Y h:m" }}</span> 
        </div>
      <div class="post-content">
        <p>{{ articulo.contenido }}</p>
        <div class="options-container">
          {% if user.is_superuser or user == articulo.autor %}

          <a href="{% url 'articulos:editar_publicacion' articulo.id %}" 
           role="button" type="submit" class="btn btn-outline-info">
           <img src="{% static 'imagen/eraser.png' %}" alt="Editar"width=30px height=30px>Editar
          </a>

          <a href="{% url 'articulos:eliminar_publicacion' articulo.id %}" 
           role="button" type="submit" class="btn btn-outline-info">
           <img src="{% static 'imagen/bin.png' %}" alt="Borrar" width=30px height=30px>Eliminar
          </a>
          
          {% endif %}
  
          <form action="{% url 'articulos:me-gusta' %}" method="post" id="boton-me-gusta">
            {% csrf_token %}
            <input type="hidden" name="articulo_id" value="{{articulo.id}}">
            {% if user in articulo.megusta.all %}
            <button type="submit" class="btn btn-outline-info">
              <img src="{% static 'imagen/filled_black_heart.png' %}" alt="me gusta"width=30px height=30px>
              Ya no me gusta</button>
            {% else %}
            <button type="submit" class="btn btn-outline-info">
              <img src="{% static 'imagen/empty_black_heart.png' %}" alt="me gusta"width=30px height=30px>
              Me gusta!</button>
            {% endif %}
          </form>
        </div></div></div>
        <h2>Dejanos un comentario</h2>

        <div class="comentar-container">
          <form method="post" action="{% url 'articulos:detalle_publicacion' pk=articulo.id %}">
            {% csrf_token %}
            <div class="card-footer py-3 border-0" style="background-color: #ffffff;">
              <div class="d-flex flex-start w-120">
                {% if user.imagen %}
                <img class="u-comm rounded-circle" src="{{user.imagen.url}}"
                  alt="avatar"/>
                  {% endif %}
                <div class="form-outline w-100">
                  <textarea class="form-control" id="{{ form.texto.id_for_label }}" name="{{ form.texto.name }}" rows="4"
                    style="background: #fff;"></textarea>
                </div>
              </div>
              <div class="float-end mt-2 pt-1">
                <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                <button type="button" class="btn btn-outline-primary btn-sm">Cancelar</button>
              </div>
            </div>
          </form>

        </div>

        <h4>Comentarios recientes:</h4>

{% for comentario in articulo.comentarios.all %}

  <div class="container py-3">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
            <div class="card-body p-2">
              <div class="d-flex flex-start">
                  <img class="rounded-circle shadow-1-strong me-3"
                  {% if user.imagen %}
                    src="{{ user.imagen.url }}" alt="avatar" width="110" height="110"/>{% endif %}
                    <div>
                      <h6 class="fw-bold mb-1">{{comentario.autor.first_name}} {{comentario.autor.last_name}}</h6>
                      <div class="d-flex align-items-center mb-3">
                      <p class="mb-0">
                        {{comentario.fecha | date:"d-m-Y h:m"}}
                      </p>
                      </div>
                    </div>
                    <p class="mb-2">{{comentario.texto}}</p>
                    <div>
                    {% if user.is_superuser or user == comentario.contenido.autor %}
                    <a href="{% url 'articulos:borrar-comentario' comentario.id %}">Eliminar</a>
                    {% if user == comentario.autor %}
                    <a href="{% url 'articulos:editar_comentario' comentario.id %}">Editar</a>
                    {% endif %}
                    {% elif user == comentario.autor %}
                    <a href="{% url 'articulos:borrar-comentario' comentario.id %}">Eliminar</a>
                    <a href="{% url 'articulos:editar_comentario' comentario.id %}">Editar</a>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        {% endfor %}    
      </div>
    </div>
  </div>
{% endblock contenido %}
