{% extends 'base.html' %}

{% block contenido %}
  <head>
    <link rel="stylesheet" href="/static/css/articulos_css/style_detalles_p_n.css">
  </head>
  <div class="page-container">
    <div class="post-container">
      <img src="{{ Publicacion.imagen.url }}" alt="{{ articulo.titulo }}" class="post-image">
      <div class="center-botton">
        <p>Fecha de publicación: {{ articulo.fecha_publicacion }}</p>
        <h1>{{ articulo.titulo }}</h1>
        <p>{{ articulo.contenido }}</p>
      </div>
      <div class="options-container">
        {% if user.is_superuser or user == articulo.autor %}
        <a href="{% url 'articulos:editar_publicacion' articulo.id %}" class="btn-editar">Editar</a>
        <a href="{% url 'articulos:eliminar_publicacion' articulo.id %}" class="btn-eliminar">Eliminar</a>
        {% endif %}
      </div>
    </div>
  
  </div>
  <form method="post"> {% csrf_token %}

    {{ form_comentario }}
    
    <button type="submit"> Comentar </button>
  </form>

{% endblock contenido %}
