{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  <head>
    <link rel="stylesheet" href="/static/css/articulos_css/style_detalles_p_n.css">
  </head>
  <div class="page-container">
    <div class="post-container">
      {% if articulo.imagen %}
      <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" class="post-image">
      {% endif %}
      <div class="center-botton">
        <p>Fecha de publicación: {{ articulo.fecha_publicacion }}</p>
        <h1>{{ articulo.titulo }}</h1>
        <p>{{ articulo.contenido }}</p>
      </div>
      <div class="options-container">
        {% if user.is_superuser or user == articulo.autor %}
        <a href="{% url 'articulos:editar_publicacion' articulo.id %}" class="btn-editar">Editar</a>
        <a href="{% url 'articulos:eliminar_publicacion' articulo.id %}" class="btn-eliminar">Eliminar</a>
        {% endif %}

        <hr>

        <form action="{% url 'articulos:me-gusta' %}" method="post" id="boton-me-gusta" >{% csrf_token %}
          <input type="hidden" name="articulo_id" value="{{articulo.id}}">


          {% if user in articulo.megusta.all %}
     

          <button type="submit" class="btn btn-outline-dark">
              <img src="{% static 'imagen/filled_black_heart.png' %}" alt="Like" width= 40px height= 40px  >
              Ya no me gusta</button>

          {% else %}


          <button type="submit" class="btn btn-outline-dark">
              <img src="{% static 'imagen/empty_black_heart.png' %}" alt="Like" width= 40px height= 40px  >
              Me gusta!</button>

          {% endif %}

        </form>

      </div>
    </div>
  </div>
  <div class="comentarios-container">
    <h2>Comentarios</h2>
        {% for comentario in articulo.comentarios.all  %}
          <div class="card">
            <div class="card-body">
              <h2>{{comentario.autor.first_name}} {{comentario.autor.last_name}}</h2>
              <p>{{comentario.texto}}</p>

              
              {% if user.is_superuser or user == comentario.contenido.autor %}
              <a href="{% url 'articulos:borrar-comentario' comentario.id %}">Eliminar</a>
                
                {% if user == comentario.autor %}
                  <a href="{% url 'articulos:editar_comentario' comentario.id %}">Editar</a>
                {% endif %}
                  

              {% elif user == comentario.autor %}
              <a href="{% url 'articulos:borrar-comentario' comentario.id %}">Eliminar</a>
              <a href="{% url 'articulos:editar_comentario' comentario.id %}">Editar</a>

              {% endif %}
              
                
            </div>
          </div>
        {% endfor %}
  </div>

  <form method="post" action="{% url 'articulos:detalle_publicacion' pk=articulo.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>

{% endblock contenido %}
