{% extends 'base.html' %}

{% block contenido %}

  <h1>Lista de publicaciones</h1>

    <a href="{% url 'nueva_publicacion' %}">Nueva publicación</a>
    
  <ul>
    {% for publicacion in publicaciones %}

      <div class="card m-5">
        <div class="card-header">
          {{ publicacion.fecha_publicacion }}
        </div>    
        <div class="card-body">
        <h5 class="card-title">{{ publicacion.titulo }}</h5>
        <p class="card-text">{{ publicacion.contenido }}</p>
        <li><a href="{% url 'detalle_publicacion' pk=publicacion.pk %}">ver detalles</a></li>
        </div>
      </div>
      {% endfor %}

  </ul>

{% endblock contenido %}
