{% extends 'base.html' %}
{% block contenido %}
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/articulos_css/style_list_n.css"> 
</head>
<body>
  <h1 class="center-botton">Articulos</h1>
  <form method="get">
    <div class="form-container">
      <select name="categoria" id="id_categoria" class="form-select">
        <option value="">Categoria</option>
        {% for categoria in categorias %}
          <option value="{{ categoria.cat_nombre }}"> {% if categoria.cat_nombre == categoria_seleccionada %}selected{% endif %}>
            {{categoria.cat_nombre}}
          </option>
        {% endfor %}
      </select>
      <select name="orderby" id="" class="form-select">
        <option value="">Ordenar por</option>
        <option value="fecha_desc" {% if orden == 'fecha_desc' %}selected{% endif %}>Articulos recientes</option>
        <option value="fecha_asc" {% if orden == 'fecha_asc' %}selected{% endif %}>Articulos previos</option>
        <option value="alf_asc" {% if orden == 'alf_asc' %}selected{% endif %}>De A > Z</option>
        <option value="alf_desc" {% if orden == 'alf_desc' %}selected{% endif %}>De Z > A</option>
      </select>
  
      <button class="btn btn-primary" type="submit">Filtrar</button>
    </div>
  </form>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for articulo in articulos %}
      <div class="col-4"> 
        <div class="card h-100">
          {% if articulo.imagen %}
          <img src="{{ articulo.imagen.url }}" class="card-img-top" alt="..." />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ articulo.titulo }}</h5>
            <p class="card-text">{{ articulo.contenido|truncatewords_html:50 }}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary d-flex justify-content-between align-items-center card-footer-content">
              <p class="card-text">{{ articulo.categoria }}</p>
              <p class="card-text">{{ articulo.autor }}</p>
              <a href="{% url 'articulos:detalle_publicacion' articulo.id %}" class="btn btn-outline-primary btn-sm "> Leer más...</a>
            </small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="paginador">
    {% if is_paginated %}
  
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Anterior</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Previous">
                    <span aria-hidden="true">Anterior</span>
                </a>
            </li>

        {% endif %}
            

        {% for pagina in paginator.page_range %}
            <li class="page-item"><a class="page-link {% if page_obj.number == pagina %} active {% endif %}
                " href="?page={{pagina}}">{{ pagina }}</a></li>
        {% endfor %}
            
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page= {{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Siguiente</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Next">
                    <span aria-hidden="true">Siguiente</span>
                </a>
            </li>

        {% endif %}
            
     </ul>
  </nav>   
{% endif %}
</div>


    <div class="center-botton">
      {% if user.is_superuser or user.es_colaborador %}
        <a href="{% url 'articulos:nueva_publicacion' %}" class="btn-nueva-publicacion">Nueva publicación</a>
      {% endif %}
      
    </div>
  </div>

    
  

</body>
{% endblock contenido %}
