{% extends 'base.html' %}

{% block contenido %}
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/articulos_css/style_nueva_p.css">
  </head>

  <body style="background-image: url('/static/imagen/bg_pag/algodon.jpg'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="contenido">
        <h1>Nueva publicación</h1>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
          
          {{ form.as_p }}
          
          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </body>
{% endblock contenido %}

