
{% extends 'base.html' %}

{% block contenido %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_acerca.css">
</head>
<body>
    <div class="container_1">
        <h1>NUESTRO EQUIPO</h1>
        <div class="team-container">
            <div class="person">
                <a href="https://github.com/JoseAFi" target="_blank">
                    <img src="/static/imagen/logo_dev/img1.jpg"  alt="Persona More">
                </a>
                <div class="name">José A. Figueroa </div>
                <div class="role">Desarollador</div>
                <div class="description">
                    <p></p>
                </div>
            </div>

            <div class="person">
                <a href="https://github.com/Shikoramy" target="_blank">
                    <img src="/static/imagen/logo_dev/img2.png"  alt="Persona More">
                </a>
                <div class="name">Fernando J. Svoboda</div>
                <div class="role">Diseñador</div>
                <div class="description">
                    <p></p>
                </div>
            </div>

            <div class="person">
                <img src="/static/imagen/cnt.jpeg" alt="Persona 3">
                <div class="name">Persona 3</div>
                <div class="role">Cargo 3</div>
                <div class="description">
                    <p>Información sobre la Persona 3...</p>
                </div>
            </div>

            <div class="person">
                <img src="/static/imagen/cnt.jpeg" alt="Persona 4">
                <div class="name">Persona 4</div>
                <div class="role">Cargo 4</div>
                <div class="description">
                    <p>Información sobre la Persona 4...</p>
                </div>
            </div>

            <div class="person">
                <img src="/static/imagen/cnt.jpeg" alt="Persona 5">
                <div class="name">Persona 5</div>
                <div class="role">Cargo 5</div>
                <div class="description">
                    <p>Información sobre la Persona 5...</p>
                </div>
            </div>

            <div class="person">
                <a href="https://github.com/MalenaRod/G2_ProyectoFinal" target="_blank">
                    <img src="/static/imagen/logo_dev/imgmore.png" alt="Persona More">
                </a>
                <div class="name">MORE</div>
                <div class="role">Info</div>
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock contenido %}

