
{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_acera.css' %}">
</head>
<body>
<div class="presentacion">
    <figure class="text-center">
        <blockquote class="blockquote">
        <h2>¡Bienvenidos al blog de turismo local del Chaco!</h2>   
        <p>
            Somos un equipo de estudiantes del Informatorio, un programa desarrollado 
            por el gobierno de la provincia del Chaco y este es nuestro 
            proyecto final de la segunda etapa de cursado.
        </p>
        <p>   
            Estamos comprometidos con nuestra región y muy emocionados 
            de presentarles éste blog dedicado a dar a conocer la 
            riqueza de nuestra cultura, tradiciones y paisajes naturales.
        </p>
        <p>     
            Aquí, encontrarás información detallada sobre los lugares más 
            interesantes, la gastronomía local y sus sabores característicos, 
            asi como tambien los eventos culturales que te harán disfrutar momentos únicos.
        </p>
        <p>    
            ¡Hay tanto por ver y hacer en el Chaco! 
            Además, si te registras como miembro, podrás interactuar 
            con nosotros y con otros usuarios de nuestro blog, 
            contarnos tus experiencias y tips ;).
        </p> 
        <p>  
            ¡Estamos seguros de que tu participación enriquecerá aún más este espacio!
        </p>
        <p>    
            ¡Vení a descubrir junto a nosotros los secretos de ésta maravillosa provincia!
        </p>
        <cite title="Source Title"><strong>¡Éste equipo está feliz y agradecido de poder compartir esta aventura con vos!</strong></cite>
      </figure>
</div>
    <div class="container_1">
        <h1>NUESTRO EQUIPO</h1>
        <div class="team-container">
            <div class="person">
                <a href="https://github.com/JoseAFi" target="_blank">
                    <img src="{% static 'imagen/logo_dev/img1.jpg' %}"  alt="Persona 1">
                </a>
                <div class="name">José A. Figueroa </div>
                <div class="role">Desarrollo</div>
                <div class="description">
                    <p></p>
                </div>
            </div>

            <div class="person">
                <a href="https://github.com/Shikoramy" target="_blank">
                    <img src="{% static 'imagen/logo_dev/img2.png' %}"  alt="Persona 2">
                </a>
                <div class="name">Fernando J. Svoboda</div>
                <div class="role">Diseño</div>
                <div class="description">
                    <p></p>
                </div>
            </div>
            
            <div class="person">
                <a href="https://github.com/MalenaRod" target="_blank">
                    <img src="{% static 'imagen/logo_dev/Male.jpg' %}" alt="Persona 3">
                </a>
                <div class="name">Malena G. Rodriguez</div>
                <div class="role">Diseño y Desarrollo</div>
                <div class="description">
                    <p></p>
                </div>
            </div>

            <div class="person">
                <a href="https://github.com/Antone11ar" target="_blank"></a>
                <img src="{% static 'imagen/logo_dev/Anto.jpeg' %}" alt="Persona 4">
                </a>
                <div class="name">Antonella Ruelli</div>
                <div class="role">Diseño</div>
                <div class="description">
                    <p></p>
                </div>
            </div>

            <div class="person">
                <img src="{% static 'imagen/logo_dev/Hector.jpg' %}" alt="Persona 5">
                <div class="name">Hector Mosqueira</div>
                <div class="role">Desarrollo</div>
                <div class="description">
                    <p></p>
                </div>
            </div>

            <div class="person">
                <a href="https://github.com/MalenaRod/G2_ProyectoFinal" target="_blank">
                    <img src="{% static 'imagen/logo_dev/imgmore.png' %}" alt="Persona More">
                </a>
                <div class="name">Proyecto Final</div>
                <div class="role">Github del proyecto</div>
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock contenido %}

