{% extends 'base.html' %}
{% load static %}
{% block contenido %}


    <h1>Atender Mensaje de Contacto</h1>
    
        <div class="card text-center">
            <div class="card-header">
                De: {{ mensaje.pais }}      Edad: {{ mensaje.edad }}
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ mensaje.nombre }} &lt;{{ mensaje.correo }}&gt;</h5>
            <p class="card-text">{{ mensaje.mensaje }}</p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="atendido_por" value="{{ request.user.id }}">
                <button type="submit" class="btn btn-success">Mensaje Revisado</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Enviado el: {{ mensaje.fecha_envio | date:"d-m-Y h:m" }}
            </div>
        </div>

{% endblock contenido %}