{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Chaco</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style_base_n_1.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body class="nnn">
      <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="ligth">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"></a>
      <img src="{% static 'imagen/logo_consol.png' %}" alt="logo" width="100" height="80">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'articulos:lista_publicaciones' %}">Articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'experiencias:experiencias' %}">Experiencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'acerca' %}">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown float-right">
            {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.first_name}}
                  
                  {% if user.imagen %}
                  <img src="{{ user.imagen.url }}" class="icono-navbar">
                  {% else %}
                  <img src="/static/imagen/log_iconn.png" class="icono-navbar">
                  {% endif %}                    
                </a>
              {% else %}
                <a class="nav-link dropdown-toggle" href="{% url 'usuarios:login' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Log In
                <img src="/static/imagen/log_iconn.png" class="icono-navbar">
                </a>
              {% endif %}
              <ul class="dropdown-menu dropdown-menu-end">       
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'usuarios:perfil_usuario' pk=user.id %}">Ver Perfil</a></li>              
                <li><a class="dropdown-item" href="{% url 'usuarios:editar_usuario' pk=user.id %}">Editar Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar Sesión</a></li>  
              {% else %}
              <li><a class="dropdown-item" href="{% url 'usuarios:login' %}">Iniciar Sesión</a></li>
              <li><a class="dropdown-item" href="{% url 'usuarios:registrarse' %}">Registrarse</a></li>        
              {% endif %}    
                          
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
  {% block contenido %}
    
  {% endblock contenido %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<footer class="footer_area section_padding_130_0">
  <div class="container">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Footer Logo-->
          <div class="footer-logo mb-3"></div>
          <p>Si quieres puedes seguirnos en nuestras redes sociales</p>
          <!-- Copywrite Text-->

          <!-- Footer Social Area-->
          <div class="footer_social_area"><a href="https://www.facebook.com/empleochaco" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i><a href="https://twitter.com/empleochaco" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Acerca</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="{% url 'acerca' %}">Sobre nosotros</a></li>
              <li><a href="{% url 'Terminos_Condiciones' %}">Terminos &amp; Condiciones</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Ayuda</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="{% url 'politica_privacidad' %}">Politica y Privacidad</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Contacto</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="{% url 'contacto' %}">Escribenos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>