{% extends "base.html" %}

{% block contenido %}
    
    <head> 
        <link rel="stylesheet" type="text/css" href="/static/css/style_contacto.css">
    </head>
    
    <h1>¡Gracias por visitarnos!</h1>
    <h2>Si tienes alguna pregunta o comentario, por favor completa el siguiente formulario:</h2>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div>    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>    
            <label for="ciudad">¿Desde dónde nos visitas?:</label>
            <input type="text" id="ciudad" name="ciudad" required>
        </div>

        <div>    
            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="edad" required>
        </div>

        <div>    
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
        </div> 

        <button type="submit">Enviar</button>
    </form>
{% endblock contenido %}

