{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/style_index_card.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style_index_n.css">
</head>
<body>
  <header>
    <div class="video-container">
      <video onloadedmetadata="this.muted=true" autoplay loop>
        <source src="static/video/fondo.mp4">
      </video>
      <div class="text-overlay">
        <h1 class="h1_imagen">Chaco</h1>
        <h2>-Descubre la cultura</h2>
        <h2>-Explora las tierras</h2>
        <h2>-Disfruta la diversidad</h2>
    <div class="img-overlay">
      <img src="static/imagen/imgce.png" alt="">
    </div>
    </div>
  </header>

<div class="card-n">
<section>
  <h1>TE PUEDE INTERESAR</h1>   
<div class="container mx-auto mt-4">
   <div class="card-group">
  <div class="card">
    <img src="/static/imagen/art.jpeg" class="card-img-top"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Articulos</h5>
      <p class="card-text">Noticias, Lugares, Comida y mucho mas en nuestra seccion de articulos</p>
      <a href="{% url 'lista_publicaciones' %}" class="btn "><i class="fab fa-github"></i> Vamos</a>
    </div>
  </div>
  <div class="card">
    <img src="/static/imagen/sbr.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sobre Nosotros</h5>
      <p class="card-text">Descubre quienes somos y nuestro equipo de desarollo</p>
      <a href="#" class="btn "><i class="fab fa-github"></i> Vamos</a>
    </div>
  </div>
  <div class="card">
    <img src="/static/imagen/cnt.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contactanos</h5>
      <p class="card-text">¿Tienes algun inconveniente?, contáctanos y háznoslo saber</p>
      <a href="#" class="btn "><i class="fab fa-github"></i> Vamos</a>
    </div>
  </div>
</div>
</section>

  <section id="cta">

    <a href="{% url 'usuarios:registrarse' %}" class="cta-button">¡Resgitrate Ahora!</a>
  </section>

</body>

{% endblock contenido %}
  