{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=NOMBRE_DE_LA_FUENTE&display=swap">
  <link rel="stylesheet" type="text/css" href="/static/css/style_index.css">
</head>
<body>
  <header>
    <div class="video-container">
      <video onloadedmetadata="this.muted=true" autoplay loop>
        <source src="static/video/fondo.mp4">
      </video>
      <div class="text-overlay">
        <h1>DESCUBRE CHACO</h1>
        <h2>-Descubre la cultura</h2>
        <h2>-Explora las tierras</h2>
        <h2>-Disfruta la diversidad</h2>
    <div class="img-overlay">
      <img src="static/imagen/imgc.png" alt="">
    </div>


    </div>
  </header>
  <section>
    <h1>Inovador</h1>
    <p>Pagina para nada generica y muy original</p>
    <h1>a</h1>
  </section>
  <header>
    <h1>EXPLORA</h1>
    <p>Las maravilla del chaco</p>
  </header>

  <section>
    <h2>Inovador</h2>
    <p>Pagina para nada generica y muy original</p>
  </section>

  <section>
    <h2>Fachera</h2>
    <p>Ponele que si</p>
  </section>

  <section id="cta">
    <h2>Ayudanos a mejorar</h2>
    <p>Suscribete ahora!</p>
    <a href="#" class="cta-button">¡Inscríbete Ahora!</a>
  </section>

</body>

{% endblock contenido %}
  