{% extends 'base.html' %}

{% block contenido %}


    <h1>Mensajes de Contacto</h1>

    {% for mensaje in mensajes %}
            
    {% if mensaje.visto == False %}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fecha de Envío</th>
                        <th scope="col">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ mensaje.nombre }}</td>
                        <td>{{ mensaje.correo }}</td>
                        <td>{{ mensaje.fecha_envio | date:"d-m-Y h:m" }}</td>
                        <td><a href="{% url 'atender_mensaje' mensaje.id %}" class="btn btn-success">
                            Revisar</a></td>
                    </tr>
                    </tbody>
                </table>

                {% endif %}
                {% endfor %}

{% endblock contenido %}
