{% extends 'base.html' %}

{% block contenido %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            background-image:url('/static/imagen/bg_pag/bg_sbr.jpg') ;
            background-size: cover;
            background-position: center;
        }

        .container-n {
            width: 95%;
            margin-top: 30px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-left: 3%;
        }
        h3{
            margin-top: 10px;
        }
        .h5m{
            margin-top: 14px;
        }
        h1{
          text-align: center;
        }
        .nav-link {
        font-size: 25px;
        margin-right: 20px;
      }
    </style>
</head>
<body>
    <div class="container-n">
        <h1>Terminos y Condiciones</h1>
        <p>
    El acceso a y/o uso de “Turismo Chaco” (el "Sitio") requiere que todos los visitantes y usuarios adhieran a los términos y condiciones, aceptándolos desde el momento de ingreso al mismo, plenamente y sin reserva alguna.  Por otro lado, en el caso que estos términos y condiciones en el futuro puedan modificarse, complementarse, sustituirse en algún sentido en relación con los servicios y contenidos del Sitio. En este sentido se clarifica que por el solo hecho de ingresar y hacer uso del Sitio, el "usuario" se adhiere en forma inmediata a todos y cada uno de los siguientes términos y condiciones.  En consecuencia, el usuario deberá leer detenidamente los términos y condiciones antes de acceder y/o utilizar cualquier servicio del portal bajo su entera responsabilidad.

    <h3>1. Alcance.</h3>
    Los presentes términos y condiciones son aplicables a los activos digitales listados a continuación:
    “Turismo Chaco”
    
    <h3>2. Enlaces con otros sitios, productos y servicios.</h3>
    Los activos digitales pueden contener enlaces hacia otros sitios, productos y servicios.  El Estado Nacional no administra ni controla esos sitios, productos y servicios y no es responsable de sus contenidos ni de cualquier daño y perjuicio que tales contenidos, productos y servicios pudieran causar, por lo que se recomienda la lectura de los términos y condiciones de cada uno de ellos.
    
    <h3>3. Responsabilidad por los contenidos.</h3>
    El Sitio no puede asumir la responsabilidad sobre la información elaborada por terceros u obtenida a partir de enlaces con otros sitios o servidores.  Tampoco otorgar garantía alguna sobre la exactitud, integridad o fiabilidad.  En ningún caso podrá responsabilizarse al organismo de ningún daño, directo o indirecto, consecuencial o incidental, derivado del empleo o resultado de la información extraída de su servidor o mediante enlaces con otros servidores.
    
    <h3>4. Exactitud de la información.</h3>
    El Sitio contiene información que ha sido elaborada por el equipo de trabajo referente del mismo, con la mayor exactitud posible y se realizan los mejores esfuerzos por mantenerla actualizada. De cualquier modo, si usted encuentra información que considera inexacta, le agradeceríamos nos informe para poder subsanar el problema inmediatamente, en estos casos por favor, informe de dicha situación a través del Formulario de Contacto.
    
    <h3>5. Privacidad de la información.</h3>
    Los usuarios del Sitio podrán acceder a toda la información contenida en este sitio sin que se le solicite información personal alguna.  En los casos que a través de formularios de contacto u otro donde el usuario tenga que proveer voluntariamente información personal, la misma será para el proceso de registro y ofrecer nuevos servicios al usuario.  Asimismo, toda información del usuario sólo será utilizada para comunicaciones personales y no será divulgada a terceras partes sin el previo consentimiento libre, expreso e informado, además de ejercer todos los derechos establecidos en la Ley Nº 25.326.
    El uso de cookies está relacionado únicamente con cuestiones técnicas relacionadas con producir información estadística sobre el tipo de navegador que los usuarios utilizan, sus sistemas operativos, los proveedores del servicio de internet, las secciones del Sitio que se visitan, recordar las preferencias del usuario, etc.  En ningún caso las cookies pueden leer información de su disco rígido o archivos creados por otros sitios.
    Todos los datos son administrados según las normas establecidas, guardados en archivos automatizados y procesados bajo estrictas normas de seguridad y confidencialidad.
    
    <h3>6. Derecho de la propiedad intelectual.</h3>
    Bajo ningún concepto los usuarios podrán alterar o modificar el formato de los archivos, las páginas, las imágenes, la información, los materiales ni ningún contenido del sitio.
    Se debe tener especial atención en el caso de las fotografías ya que el sitio utiliza en muchos casos imágenes que han sido cedidas exclusivamente por sus autores para uso en el sitio, por lo tanto la institución no cuenta con permiso para transferirlas, es por ello que se requiere en todos los casos realizar las consultas correspondientes antes de proceder a su utilización.
    
    <h3>7. Redes sociales y herramientas sociales.</h3>
    Las redes sociales y las herramientas de carácter social del Sitio son instrumentos que fortalece la comunicación con el usuario, para lo cual es necesario establecer que en las mismas los usuarios deberán usar el servicio de acuerdo con las leyes, normas y regulaciones locales, estatales, nacionales e internacionales que resulten aplicables, respetando las siguientes condiciones:
    <h5 class="h5n">a) Está prohibido todo acto contrario a las leyes, moral y buenas costumbres, no permitiéndose la transmisión o divulgación de material que viole la legislación en vigor en el país y/o que pueda herir la sensibilidad del resto de los usuarios y/o de cualquier tercero.</h5>
    <h5 class="h5n">b) No está permitido utilizar lenguaje vulgar /obsceno, discriminatorio y/u ofensivo, como publicar mensajes agraviantes, difamatorios, calumniosos, injuriosos, falsos, discriminatorios, pornográficos, de contenido violento, insultantes, amenazantes, instigantes a conductas de contenido ilícito o peligrosas para la salud, con lenguaje inapropiado.</h5>
    <h5 class="h5n">c) Está prohibido todo tipo de ataque personal, mediante acoso, amenazas, insultos, o de cualquier otra manera, como tampoco se podrá avergonzar o publicar mensajes que puedan herir y/o afectar la sensibilidad del resto de los usuarios y/o de cualquier tercero.</h5>
    <h5 class="h5n">d) El Sitio se reserva el derecho de suspender o dejar de publicar cualquier mensaje que considere inadecuados a su solo criterio y discreción; y/o que vulneren de cualquier forma la privacidad de cualquier tercero como así también la violación directa o indirecta de los derechos de propiedad intelectual.</h5>
    <h5 class="h5n">e) No se podrá publicar material de propiedad intelectual de terceros que exceda las mil (1000) palabras, de conformidad con lo dispuesto por el artículo 10 de la ley 11.723. En todos los casos se deberá respetar lo establecido por la Ley de referencia.</h5>
    <h5 class="h5n">f) Está prohibido promocionar, comercializar, vender, publicar y/u ofrecer cualquier clase de productos, servicios y/o actividades por intermedio de o a través de la utilización de los Servicios.</h5>
    <h5 class="h5n">g) Está prohibida la venta, locación, cesión, ya sea a título oneroso o gratuito, del espacio de comunicación de los servicios del Sitio.
    <h5 class="h5n">h) El Sitio no puede garantizar la disponibilidad y continuidad del funcionamiento de los Servicios. Tampoco es en ningún caso responsable de la destrucción, alteración o eliminación del contenido o información que cada usuario incluya en sus mensajes.
    <h5 class="h5n">i) El Sitio se reserva el derecho de no publicar (o remover luego de ser publicados) todos aquellos contenidos y/o mensajes propuestos y/o publicados por el Usuario que, a exclusivo criterio del Sitio, no respondan estrictamente a las disposiciones contenidas en el presente Reglamento.
    
    <h3>8. Legislación aplicable y jurisdicción competente.</h3>
    Toda cuestión controversial que pudiera resultar entre los usuarios y el organismo estará sometida a las leyes de la República Argentina y a la jurisdicción de los Tribunales Nacionales del fuero Contencioso Administrativo Federal con asiento en la Ciudad Autónoma de Buenos Aires.
    
    <h3>9. Otros: Cookies, APIs.</h3>
    Cookies e identificadores anónimos: El Sitio podrá utilizar diferentes tecnologías para recoger y almacenar datos cuando el usuario accede a un servicio prestado, incluyendo el envío de una o varias cookies o de identificadores anónimos al dispositivo desde donde se accede.  El uso de cookies está relacionado únicamente con cuestiones técnicas relacionadas con producir información estadística y la mejora de la experiencia del usuario al recordar sus preferencias que conforman su perfil.  En ningún caso las cookies pueden leer información de su disco rígido o archivos creados por otros sitios. Todos estos datos son administrados según las normas y la legislación de la República Argentina, guardados en archivos automatizados y procesados bajo estrictas normas de seguridad y confidencialidad.
    API: A través de distintos servicios el sitio web podrá distribuir contenido a otros sitios web y a distintos usuarios, y al mismo tiempo, recibir contenido de diferentes sistemas. Para ello, la gestión de APIs se realizará a través de la Plataforma de Innovación e Inteligencia Turística YVERA, del Ministerio de Turismo y Deportes de la Nación.   </div>
</p>

</div>
</body>
{% endblock contenido %}
    