body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenido {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  max-width: 100%; /* Ajusta el ancho del formulario según tu preferencia */
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ajusta el ancho de todos los elementos <p> generados por formulario.as_p */
form p {
  width: 100%;
}

/* Ajusta el ancho de los campos de entrada de texto */
form input[type="text"],
form textarea {
  width: 100%; /* Cambia el porcentaje */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

form button {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo adicional para el botón cuando el mause está sobre él */
form button:hover {
  background-color: #444;
}