{% extends 'base.html' %}


{% block contenido %}
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style_register.css">
    </head>

    <div class="background-image">
        <div class="container">
            <h1>Registro</h1> <!-- Encabezado h1 -->
            <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                {{ form.first_name }}
            </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-warning">Crear Cuenta</button>
    </form>
    
{% endblock contenido %}
    