{% extends 'base.html' %}


{% block contenido %}
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style_register_n.css">
    </head>

    <div class="background-image">
        <div class="container-1">
            <h1>Registro</h1>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                {{ form.first_name }}
            </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Apellido</label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Contraseña</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Repite la contraseña</label>
            {{ form.password2 }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.sobre_mi.id_for_label }}">Sobre vos</label>
            {{ form.sobre_mi }}
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Contanos que te gusta...
        </small>
        <div class="form-group">
            <label for="{{ form.imagen.id_for_label }}">Cargar imagen</label>
            {{ form.imagen }}
        </div>
        <button type="submit" class="btn btn-warning">Crear Cuenta</button>
    </form>
    </div>
</div>
</div> 
{% endblock contenido %}
    