{% block contenido %}
    
<head> 
    <link rel="stylesheet" type="text/css" href="/static/css/style_contactoexitoso.css">
</head>
    <title>Experiencia enviada/title>
</head>
<body>
    <div class="container">
        <h1>¡Gracias por contactarnos!</h1>
        <p>Te recordamos que antes de verla publicada tu experiencia 
            debe ser aprobada por uno de nuestros colaboradores.
        </p>
        <p>No te preocupes, la podras ver muy pronto.</p>
        <a href="{% url 'index' %}" class="button"><u>Volver al inicio</u></a>
        
    </div>
</body>
</html>

{% endblock contenido %}
    